body, html {
	padding: 0;
	margin: 0;
}

body {
	font-size:21px;

	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

#masthead {
	width: 900px;
	margin: 0 auto;

	color: #333;
}

#masthead h1 {
	font-family: "Pathway Gothic One", sans-serif;
	font-size: 150px;
	text-transform: uppercase;

	font-weight: 300;

	line-height: 100px;

	margin: 0 0 40px 0;
	padding: 0;
	text-align: center;
}
#masthead h1 a {
	color:inherit;
	text-decoration: none;
}

#masthead h1:before {
	content: "cardsvscards";
	display: block;
	margin: 0 0 0 40px;
	padding: 0;

	text-align: center;

	font-size: 40px;

	letter-spacing: 50px;
}

#masthead ul {
	margin: 0 auto;
	padding: 0;

	width: 80%;
	text-align: center;

}

#masthead ul li {
	margin: 0;
	padding: 0;

	display: inline-block;;

	height: 50px;
}
#masthead ul li a:hover {
	color: #ddd;
	background: #111;
}
#masthead ul li a {
	color:#666;

	height: 40px;
	margin: 0 auto;
	padding: 5px 36px;

	font-size: 40px;
	font-weight: 100;
	text-align: center;
	font-family: "Pathway Gothic One", sans-serif;
	text-transform: uppercase;

	border: 1px #ddd solid;
	border-width: 1px 0;

	line-height: 40px;
	
	text-decoration: none;

}

/* Content */

section {
	width: 600px;
	margin: 0 auto;	
}

section p {
	line-height: 3.61em;
}